.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules/
bower_components
jspm_packages/
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# .env
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock