@font-face {
  font-family: "sunrise";
  src: url("../fonts/aveny-t-web.ttf");
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  min-height: 100svh;
}
.hidden {
  display: none;
}
h1,h2 {
  font-family: "sunrise";
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 300;
}
p {
    color: white;
}

.link-ver-mas {
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  border-radius: 8px;
  border: 1px solid whitesmoke;
  font-family: "sunrise";
  padding: 0.5em 1em;
  width: 100%;
  cursor: pointer;
}
.link-ver-mas span:hover {
  font-size: 1rem;
  text-decoration: underline;
}

/*
.color1 { #bb9865 };
.color2 { #d6c1a3 };
.color3 { #542405 };
.color4 { #748c9c };
.color5 { #8c9bb4 };

*/
